body {
  background-color: #f6f9ff;
}
/* navbar css */
.profile {
  width: 60%;
  height: 60%;
  border-radius: 50%;
}
.NavbarContainer {
  background-color: white;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.card1 {
  padding: 2% 17% 2% 5%;
  background-color: white;
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.Customercard {
  width: 83%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 2%;
  padding: 4%;
  font-size: 20px;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.productImage {
  width: 35%;
}

.MainContainer {
  display: flex;
  flex-wrap: wrap;
}

/* recent activity components styling  */
.timeline-1 {
  border-left: 3px solid #b565a7;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(177, 99, 163, 0.09);
  margin: 0 auto;
  position: relative;
  padding: 50px;
  list-style: none;
  text-align: left;
  /* max-width: 40%; */
}

@media (max-width: 767px) {
  .timeline-1 {
    /* max-width: 98%; */
    /* padding: 25px; */
  }
}

.timeline-1 .event {
  border-bottom: 1px dashed #000;
  /* padding-bottom: 25px; */
  margin-bottom: 25px;
  position: relative;
}

@media (max-width: 767px) {
  .timeline-1 .event {
    padding-top: 30px;
  }
}

.timeline-1 .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline-1 .event:before,
.timeline-1 .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline-1 .event:before {
  left: -207px;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  /* min-width: 120px; */
}

@media (max-width: 767px) {
  .timeline-1 .event:before {
    left: 0px;
    text-align: left;
  }
}

.timeline-1 .event:after {
  -webkit-box-shadow: 0 0 0 3px #b565a7;
  box-shadow: 0 0 0 3px #b565a7;
  left: -55.8px;
  background: #fff;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: "";
  top: 5px;
}
 #content{
  width: 10%;
 }

@media (max-width: 767px) {
  .timeline-1 .event:after {
    left: -31.8px;
  }
}
